a {
    padding: 3px;
    color: #fff;
    background-color: #0069d9;
    border-color: #0060c7;
    border-radius: 0.25rem;
    margin: 0px 5px;
    text-decoration: none;
}

.head td:nth-child(4n){
    text-align: center;
}

.botton-collumn {
    display: flex;
    justify-content: space-around;
}